@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ProdASP.Models
@model AllViewPlace
<table>
    <tr>
        <th></th>
        <th>Флаг страны</th>
        <th>Страна</th>
        <th>Язык</th>
    </tr>
    @foreach (var i in Model.Country){
        <tr class="header expand">
            <td id="top" style="width: 5%;">
                <span class="sign"></span>
            </td>
            <td id="top"><img src="@i.Image" width="100px" height="50px" /></td>
            <td id="top" style="width: 40%;">@i.NamePlace</td>
            <td id="top" style="width: 40%;">@i.Language</td>
        </tr>
        <tr>
            <td class="down" colspan="2"></td>
            <th colspan="2">Информация о стране</th>
        </tr>
        <tr>
            <td class="down" colspan="2"></td>
            <td class="info" colspan="2">@i.Information</td>
        </tr>
        <tr>
            <th class="down" colspan="2"></th>
            <th>Республики</th>
            <th>Язык республики</th>
        </tr>
        @foreach (var u in Model.Republic)
        {
            if (u.CountryName == i.Id && u.CountryName != null)
            {
                <tr>
                    <th class="down" colspan="2"></th>
                    <td>@u.NamePlace</td>
                    <td>@u.Language</td>
                </tr>
            }
            
        }
        <tr>
            <th class="down2" colspan="2"></th>
            <th>Города</th>
            <th>В какой республике</th>
        </tr>
        @foreach (var u2 in Model.City)
        {
            @if (u2.CountryName == i.Id && u2.RepubName != null)
            {
                <tr>
                    <th class="down" colspan="2"></th>
                    <td>@u2.NamePlace</td>
                    <td>@u2.RepubName</td>
                </tr>
            }
        }
        <tr></tr>
    }
    
</table>


@section scripts {
    <script>
        $('.header').click(function () {
            $(this).toggleClass('expand').nextUntil('tr.header').slideToggle(100);
        });
    </script>
}


    <style>
        .info{
            word-break: break-all;
        }
        .down2{
            border-left : hidden!important;
            border-bottom: hidden !important;
        }
        .down{
            border-left : hidden!important;
            border-bottom : hidden!important;
        }
        #top {
            border-top: 3px solid black;
        }
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th{
            text-align: center;
        }

        tr.header {
                cursor: pointer;
            }

        .header .sign:after {
            content: "v";
            display: inline-block;
        }

        .header.expand .sign:after {
            content: ">";
        }
        
    </style>   
    

