@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using ProdASP.Models
@model IndexViewModel


<style>
    .glyphicon {
        display: inline-block;
        padding: 0 5px;
    }

    .glyphicon-chevron-right:after {
        content: "\00BB";
    }

    .glyphicon-chevron-left:before {
        content: "\00AB";
    }
</style>

<h1>Список стран</h1>
<p>
    <a class="button21" asp-area="" asp-controller="Place" asp-action="Index">Добавить страну</a>
</p>
<form method="get">
    <label>Имя: </label>
    <input name="name" value="@Model.FilterViewModel.SelectedName" />

    <label>Страна: </label>
    <select name="company" asp-items="Model.FilterViewModel.Places"></select>

    <input type="submit" value="Фильтр" />
</form>

<table>
    <tr>
        @if(Model.Places.Count() != 0 ){
            <th style="width: 20%; scope="col">
                <a asp-action="Index"
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedPlace)">Имя</a>
            </th>
            <th scope="col">
                Язык
            </th>
        }
        
    </tr>
    @foreach (Country u in Model.Places)
    {
        <tr>
            <td style ="width: 20%;">@u.NamePlace</td>
            <td style="width: 20%;">@u.Language</td>
            <td>
                <a type="button" class="btn btn-primary" asp-action="Edit" asp-controller="Place" asp-route-id="@u.Id">Изменить</a>
            </td>
            <td><a type="button" class="btn btn-danger" sp-area="" asp-controller="Place" asp-action="Delate" asp-route-id="@u.Id">Удалить</a></td>
        </tr>
    }
</table>
<p>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-company="@(Model.FilterViewModel.SelectedPlace)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="glyphicon glyphicon-chevron-left">
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-company="@(Model.FilterViewModel.SelectedPlace)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="glyphicon glyphicon-chevron-right">
            Вперед
        </a>
    }
</p>

<style>
    a.button21 {
        display: inline-block;
        width: auto;
        height: auto;
        line-height: 2em;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        user-select: none;
        color: rgb(0,0,0);
        outline: none;
        border: 1px solid rgba(0,0,0,.4);
        border-top-color: rgba(0,0,0,.3);
        border-radius: 2px;
        background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
        box-shadow: 0 0 3px rgba(0,0,0,0) inset, 0 1px 1px 1px rgba(255,255,255,.2), 0 -1px 1px 1px rgba(0,0,0,0);
        transition: .2s ease-in-out;
    }

        a.button21:hover:not(:active) {
            box-shadow: 0 0 3px rgba(0,0,0,0) inset, 0 1px 1px 1px rgba(0,255,255,.5), 0 -1px 1px 1px rgba(0,255,255,.5);
        }

        a.button21:active {
            background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
            box-shadow: 0 0 3px rgba(0,0,0,.5) inset, 0 1px 1px 1px rgba(255,255,255,.4), 0 -1px 1px 1px rgba(0,0,0,.1);
        }
</style>